.Burger{width:30%;height:250px;max-height:250px;overflow-y:auto;text-align: center;margin: auto;font-weight:bold;font-size:1.2rem}
.btn-primary:disabled, .btn-primary[disabled]{
background-color: #ccc !important;
border: 1px solid #ccc !important;
color:#000 !important

}
.bottom-0{bottom:0}
@media(min-width:500px) and(min-height:400px){
.Burger{width:350px;height:300px}
}